{% extends "layout.html" %}
{% block body %}
    <p>
      <h2>About</h2>
      <p>This web service was developed by Alex Cooper, Lisa Hamlett, and Elizabeth Mumpower at Emory University.  The purpose is to make it easier for institutions to run the yearly reports necessary for Hathi Trust.</p>
      <p>The formats follow the <a href="https://www.hathitrust.org/print_holdings">HathiTrust print holdings instructions</a>.</p>
      <p>In order to run this web service, you will need to do the following:
          <ul>
            <li>blah blah blah</li>
            <li>blah blah blah</li>
            <li>blah blah blah</li>
{% endblock %}
