{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
        {% if name %}
            <p>
            <h2>Hello {{ name }}!</h2>
            </p>
            <form action="{{ url_for('requesting') }}" method="post">
              <input type="submit" class="button" value="Deleted Report" onclick="alert('Your request was submitted');this.disabled='disabled';">
            </form>
<!--            <form action="{{ url_for('requesting') }}" method="post">
                <label>Select</label>
                <p>
                <select class="select" name="Item 1">
                    <option value="Deleted Items">Deleted Report</option>
                    <option value="Monographs">Monographs</option>
                </select>
                <button class="button" type="submit">Submit</button>
                </p>
            </form> -->
        {% else %}
            <p>
            <h2>Hello, World!</h2>
            </p>
        {% endif %}
    {% else %}
        <h2>Please log in</h2>
    {% endif %}
{% endblock %}
